:root {
    --clr-bkgd:#070708;
    --clr-bkgd-1:#020202;
    --clr-font:#f5f5f5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ANIMATIONS  */
@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }


    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}
/* END OF ANIMATIONS */

/* BASE STYLES  */
body {
    font-family: 'Rubik Vinyl', sans-serif;
    color: var(--clr-font);
    background-color: var(--clr-bkgd);
    font-size: 1.5em;
}


.main {
    max-width: 400px;
    background-color: var(--clr-bkgd);
    height:450px;
    margin: 0 auto;
    border-radius: 50px;
    box-shadow: 0 0 100px 5px var(--clr-font);
    animation: fade-in 1s 0.1s backwards;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.name {
    background-color: var(--clr-bkgd);
    border-radius: 30px;
    color: var(--clr-font);
    width: 180px;
    height: 30px;
    border: none;
}

.name:hover {
    color: rgba(255, 255, 255, 1);
    transition: all 1s;
    box-shadow: 0 0 100px 5px var(--clr-font);
}

.inputemail {
    background-color: var(--clr-bkgd);
    border-radius: 30px;
    color: var(--clr-font);
    width: 180px;
    height: 30px;
    border: none;
}

.inputemail:hover {
    color: rgba(255, 255, 255, 1);
    transition: all 1s;
    box-shadow: 0 0 100px 5px var(--clr-font);
}
