/* RESET  */
:root {
    --clr-bkgd:#070708;
    --clr-bkgd-1:#020202;
    --clr-font:#f5f5f5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* KEYFRAMES  */

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }


    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}

/* END OF KEYFRAMES  */

html {
    overflow-x: hidden;
}

/* BASE STYLES  */
body {
    font-family: 'Rubik Vinyl', sans-serif;
    color: var(--clr-font);
    background-color: var(--clr-bkgd);
    overflow-x: hidden;
    position: relative;
}

.hdr {
    font-size: 34px;
    color: var(--clr-font);
    letter-spacing: 1px;
}

/* END OF BASE STYLES  */

/* HEADER  */
.header {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px;
    animation: fade-in 0.4s;
    margin-bottom: 130px;
}

.nav {
    
}

.links {
    display: flex;
    column-gap: 45px;
}

.link {
    font-size: 34px;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 1px;
    transition: all 1s;
    padding: 10px 18px;
    border-radius: 50px;
}

.link:hover {
    box-shadow: 0 0 100px 5px var(--clr-font);
    background-color: var(--clr-bkgd-1);
    color: rgba(255, 255, 255, 1);
}

.link--btn {
    color: rgba(255, 255, 255, 0.7);
    background-color: var(--clr-bkgd);
    transition: all 1s;
    padding: 10px 18px;
    border-radius: 50px;
}

.link--btn:hover {
    box-shadow: 0 0 100px 5px var(--clr-font);
    background-color: var(--clr-bkgd-1);
    color: rgba(255, 255, 255, 1);
}
/* END OF HEADER  */

/* MAIN  */
.main {
    max-width: 1150px;
    background-color: var(--clr-bkgd);
    height: 1700px;
    margin: 0 auto;
    border-radius: 50px;
    box-shadow: 0 0 100px 5px var(--clr-font);
    margin-bottom: 35px;
    animation: fade-in 1s 0.1s backwards;
    overflow: auto;
}

/* SECTION 1 */

.sec1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
    margin-top: 25px;
    
}

.studio-albums {
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 50px;
}

.studio-albums:hover {
    margin: 0 auto;
    color: rgba(255, 255, 255, 1);
    transition: all 1s;
    box-shadow: 0 0 100px 5px var(--clr-font);
    background-color: var(--clr-bkgd-1);
}



.live-albums {
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 50px;
}

.live-albums:hover {
    margin: 0 auto;
    color: rgba(255, 255, 255, 1);
    transition: all 1s;
    box-shadow: 0 0 100px 5px var(--clr-font);
    background-color: var(--clr-bkgd-1);
}

.ep-albums {
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    border-radius: 50px;
}

.ep-albums:hover {
    margin: 0 auto;
    color: rgba(255, 255, 255, 1);
    transition: all 1s;
    box-shadow: 0 0 100px 5px var(--clr-font);
    background-color: var(--clr-bkgd-1);
}

/* SECTION 2 */

.sec2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
    gap: 9em;
}

.imgAL {
    max-width: 180px;
    max-width: 180px;
    margin-top: 75px;
    transition: transform 1s;
    border-radius: 10px;
}

.imgAL:hover {
    transform: scale(1.5);
    transition: all 1s;
    box-shadow: 0 0 100px 5px var(--clr-font);
}

.imgAL1 {
    max-width: 180px;
    max-width: 180px;
    margin-top: 75px;
    transition: transform 1s;
    border-radius: 10px;
}


.imgAL1:hover {
    transform: scale(1.5);
    transition: all 1s;
    box-shadow: 0 0 100px 5px var(--clr-font);
}

.imgAL2 {
    max-width: 180px;
    max-width: 180px;
    margin-top: 75px;
    transition: transform 1s;
    border-radius: 10px;
}


.imgAL2:hover {
    transform: scale(1.5);
    transition: all 1s;
    box-shadow: 0 0 100px 5px var(--clr-font);
}

.imgAL3 {
    max-width: 180px;
    max-width: 180px;
    margin-top: 75px;
    transition: transform 1s;
    border-radius: 10px;
}


.imgAL3:hover {
    transform: scale(1.5);
    transition: all 1s;
    box-shadow: 0 0 100px 5px var(--clr-font);
}

.imgAL4 {
    max-width: 180px;
    max-width: 180px;
    margin-top: 75px;
    transition: transform 1s;
    border-radius: 10px;
}

.imgAL4:hover {
    transform: scale(1.5);
    transition: all 1s;
    box-shadow: 0 0 100px 5px var(--clr-font);
}

.imgAL5 {
    max-width: 180px;
    max-width: 180px;
    margin-top: 75px;
    transition: transform 1s;
    border-radius: 10px;
}

.imgAL5:hover {
    transform: scale(1.5);
    transition: all 1s;
    box-shadow: 0 0 100px 5px var(--clr-font);
}

.imgAL6 {
    max-width: 180px;
    max-width: 180px;
    margin-top: 75px;
    transition: transform 1s;
    border-radius: 10px;
}

.imgAL6:hover {
    transform: scale(1.5);
    transition: all 1s;
    box-shadow: 0 0 100px 5px var(--clr-font);
}

.imgAL7 {
    max-width: 180px;
    max-width: 180px;
    margin-top: 75px;
    transition: transform 1s;
    border-radius: 10px;
}

.imgAL7:hover {
    transform: scale(1.5);
    transition: all 1s;
    box-shadow: 0 0 100px 5px var(--clr-font);
}

.imgAL8 {
    max-width: 180px;
    max-width: 180px;
    margin-top: 75px;
    transition: transform 1s;
    border-radius: 10px;
}

.imgAL8:hover {
    transform: scale(1.5);
    transition: all 1s;
    box-shadow: 0 0 100px 5px var(--clr-font);
}

.imgAL9 {
    max-width: 180px;
    max-width: 180px;
    margin-top: 75px;
    transition: transform 1s;
    border-radius: 10px;
}

.imgAL9:hover {
    transform: scale(1.5);
    transition: all 1s;
    box-shadow: 0 0 100px 5px var(--clr-font);
}

/* FOOTER  */

.footer {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    color: inherit;
    padding: 0 25px;
    padding-bottom: 50px;
}

.copyright {
    font-size: 14px;
}

.legal-list {
    display: flex;
    column-gap: 35px;

}

.legal-item {

}

.legal-link {
    font-size: 14px;
    text-transform: capitalize;
}

/* MEDIA QUERIES  */

@media (max-width: 1200px) {
    .main {
        margin-left: 25px;
        margin-right: 25px;
        overflow: hidden;
        height: fit-content;
    }
}

@media (max-width: 588px) {
    .sec1:nth-of-type(1) {
        max-width: 500px;
        /* padding: 60px 0; */
        flex-wrap: wrap;
        overflow: hidden;
    }

    .header:nth-of-type(1) {
        max-width: 500px;
        /* padding: 60px 0; */
        flex-wrap: wrap;
        row-gap: 35px;
        overflow: hidden;
    }    
}

@media (max-width: 488px) {
    .main {
        margin-left: 0;
        margin-right: 0;
        overflow: auto;
    }
}